#####################################################################################################################################################
######################################################################## INFO #######################################################################
#####################################################################################################################################################

#   This program is needed for an automatic installation of the PyRat software.
#   It details the directories that do not contain Python modules but should be downloaded for a proper install.

#####################################################################################################################################################
###################################################################### CONTENTS #####################################################################
#####################################################################################################################################################

graft pyrat/gui
graft pyrat/workspace

#####################################################################################################################################################
#####################################################################################################################################################